:root {
  --light-grey: #f7f9fc;
  --black\<deleted\|variable-dec8db8b\>: #0f0e17;
  --color--nav: var(--light-grey);
  --color--background: white;
  --color--text: black;
  --white\<deleted\|variable-79f21d30\>: white;
  --dark-grey: #191821;
  --brand: #86751d;
  --dark--text: #d7dadc;
  --trans\<deleted\|variable-cf07aca5-14d5-c180-aa9b-e6c01f036bf6\>: transparent;
  --medium-grey\<deleted\|variable-4cd8fc26\>: #27262e;
  --alley-component-library--blue--900\<deleted\|variable-a6ac649b\>: #5167f6;
  --alley-component-library--blue--100\<deleted\|variable-6b28a3b0\>: #eceefe;
  --color--tag: var(--light-grey);
  --alley-component-library--neutral--black\<deleted\|variable-32d8176f\>: black;
  --untitled-ui--gray600\<deleted\|variable-10a0cd12\>: #475467;
  --untitled-ui--gray200\<deleted\|variable-bad2ea62\>: #eaecf0;
  --untitled-ui--gray700\<deleted\|variable-d4f37b50\>: #344054;
  --untitled-ui--gray500\<deleted\|variable-68f29e84\>: #667085;
  --combine-library--grey-800\<deleted\|variable-c0ad9ad1\>: #1f2c3d;
  --combine-library--primary-600\<deleted\|variable-d08fbb46\>: #6157f8;
  --transparent\<deleted\|variable-73f5b1f1-8d9d-c910-1516-f336e42b8e6b\>: var(--trans\<deleted\|variable-cf07aca5-14d5-c180-aa9b-e6c01f036bf6\>);
  --off-white-dark\<deleted\|variable-b85e1530\>: #d8e0f0;
  --color--toggle-offset: 0rem;
  --color--button-background: var(--light-grey);
  --test: #b6b5b1;
  --dark-greyy: #121212;
  --white-text: #d7dadc;
  --dark--nav: #0f0e1733;
  --dark--button-text: var(--white-text);
  --dark--toggle-offset: 1.3rem;
  --dark--tag: var(--dark-grey);
  --dark--button-background: var(--white-text);
  --dark--background: black;
  --dark--tag1: var(--brand);
  --color--button-text: #000;
  --color--tag1: var(--light-grey);
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

body {
  background-color: var(--light-grey);
  color: var(--black\<deleted\|variable-dec8db8b\>);
  font-family: DM Sans, sans-serif;
  font-size: 1.35vw;
  font-weight: 400;
  line-height: 1.45;
}

h1 {
  letter-spacing: -.01em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 4em;
  font-weight: 700;
  line-height: 1.1;
}

h2 {
  letter-spacing: -.02em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.5em;
  font-weight: 700;
  line-height: 1.25;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.85em;
  font-weight: 700;
  line-height: 1.3;
}

h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.62em;
  font-weight: 700;
  line-height: 1.4;
}

h5 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.3em;
  font-weight: 700;
  line-height: 1.3;
}

h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.1em;
  font-weight: 700;
  line-height: 1.3;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  color: var(--black\<deleted\|variable-dec8db8b\>);
  font-weight: 700;
  text-decoration: none;
}

blockquote {
  border-left: .4em solid #e2e2e2;
  margin-bottom: 1em;
  padding: 1em 2em;
  font-size: 140%;
  line-height: 1.6;
}

.c-html {
  width: 0;
  height: 0;
  position: absolute;
  inset: 0% 0% auto;
  overflow: hidden;
}

.is--hidden-empty {
  background-color: #0000;
  width: 0;
  height: 0;
  padding: 0;
}

.c-nav {
  z-index: 2000;
  background-color: var(--color--nav);
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0;
  padding-left: 3.8em;
  padding-right: 3.8em;
  display: flex;
  position: fixed;
  inset: 0% 0% auto;
}

.c-nav_logo {
  border-radius: 20px;
}

.c-nav_menu {
  justify-content: space-between;
  align-items: center;
  width: 45em;
  display: flex;
}

.c-nav_menu-links {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.c-nav_link {
  color: var(--white\<deleted\|variable-79f21d30\>);
  cursor: pointer;
  align-items: center;
  padding: 1.8em 1em;
  display: flex;
  position: relative;
}

.c-nav_link-text {
  color: var(--color--text);
  letter-spacing: .2em;
  -webkit-text-stroke-color: var(--color--text);
  text-transform: uppercase;
  font-size: .7em;
  font-weight: 700;
  line-height: .9;
}

.c-svg {
  color: var(--color--text);
  -webkit-text-stroke-color: #e42121;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  display: flex;
  position: relative;
}

.c-nav_hamburger {
  display: none;
}

.c-section {
  -webkit-text-stroke-color: var(--white\<deleted\|variable-79f21d30\>);
  padding: 3em 10vw 15em;
}

.c-section.is--footer-spacer {
  height: 3em;
  padding-top: 0;
  padding-bottom: 0;
}

.c-section.is--mission {
  width: 100vw;
  padding-top: 4em;
  position: relative;
  overflow: hidden;
}

.c-section.is--mission.missionstart {
  padding-bottom: 0;
}

.c-section.is--header {
  padding-top: 11em;
  position: relative;
}

.c-section.is--404 {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  display: flex;
}

.c-section.is--media {
  color: var(--white\<deleted\|variable-79f21d30\>);
  min-height: 60vh;
  padding-top: 8.5em;
  padding-bottom: 1em;
}

.c-section.is--media.kontakte {
  padding-top: 0;
  padding-bottom: 0;
}

.c-section.is--hero {
  z-index: 4;
  background-image: linear-gradient(to right, #0f0e17, #0f0e17ba 29%, #0f0e1700 52%), linear-gradient(to top, #0f0e17, #0f0e17e3 21%, #0f0e1700 60%);
  align-items: center;
  min-height: 100vh;
  padding-top: 11.1em;
  padding-bottom: 11.1em;
  display: flex;
  position: relative;
}

.c-section.galarie {
  max-height: 50vw;
  padding-top: 1em;
}

.c-section.rezensionenstart {
  padding-bottom: 1em;
}

.c-button {
  background-color: var(--brand);
  color: var(--dark--text);
  text-align: center;
  border-width: 0;
  border-radius: .6em;
  padding: .9em 1.9em;
  font-size: 1.25vw;
}

.c-button:hover {
  background-image: linear-gradient(#0000001a, #0000001a);
}

.c-button.is--white {
  background-color: var(--white\<deleted\|variable-79f21d30\>);
  color: var(--black\<deleted\|variable-dec8db8b\>);
}

.c-button.is--hero-button1 {
  margin-right: 1em;
  display: none;
  overflow: visible;
}

.c-button.is--share {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4.3em;
  margin-top: 3em;
  padding-top: .4em;
  padding-bottom: .4em;
  display: flex;
}

.c-button.is--white {
  color: #0f0e17;
  background-color: #fff;
}

.c-button.is--white.is--hero-button2 {
  display: none;
}

.c-hero_contain {
  overflow: hidden;
}

.c-hero_h1 {
  text-align: left;
  font-size: 4em;
}

.c-hero_h1-contain {
  margin-bottom: 2em;
  padding-bottom: 1em;
  overflow: hidden;
}

.c-hero_bg-video {
  z-index: 2;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
}

.c-hero_message {
  background-color: #27262e33;
  border-radius: .6em;
  width: 25em;
  margin-bottom: 2em;
  margin-right: 2em;
  padding: 2em;
  display: none;
  position: absolute;
  inset: auto 0% 0% auto;
}

.c-hero_icon {
  justify-content: center;
  align-items: center;
  width: 1.5em;
  height: 1.5em;
  margin-right: .5em;
  display: flex;
}

.c-hero_message-title {
  justify-content: flex-start;
  align-items: center;
  padding-bottom: .7em;
  display: flex;
}

.c-hero_message-x {
  margin-top: .8em;
  margin-right: .8em;
  position: absolute;
  inset: 0% 0% auto auto;
}

.c-hero_message-icon {
  width: 1.2em;
}

.c-events_link {
  background-color: var(--white\<deleted\|variable-79f21d30\>);
  color: var(--black\<deleted\|variable-dec8db8b\>);
  border-radius: .6em;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  min-width: 100%;
  height: 100%;
  min-height: 100%;
  display: flex;
}

.is--display {
  color: var(--color--text);
  white-space: nowrap;
  font-size: 4em;
}

.c-large-header {
  width: 100vw;
  max-width: 100vw;
  height: 8em;
  margin-left: -10vw;
  overflow: hidden;
}

.c-large-header_contain {
  justify-content: flex-start;
  align-items: center;
  font-size: 1.25vw;
  display: flex;
}

.is--display-line {
  background-color: var(--color--text);
  opacity: 1;
  outline-offset: 0px;
  color: var(--color--text);
  outline: 3px #0f0e17;
  width: 10em;
  min-width: 10em;
  height: .2em;
  margin-left: 2.8em;
  margin-right: 2.8em;
}

.c-mission {
  justify-content: space-between;
  align-items: center;
  padding-top: 2.5em;
  display: flex;
}

.c-mission_photo {
  background-color: var(--white\<deleted\|variable-79f21d30\>);
  border-radius: 10px;
  width: 24vw;
  max-width: 100%;
  height: 24vw;
  display: block;
}

.c-mission_content {
  flex-direction: column;
  width: 48vw;
  padding-left: 5.5vw;
}

.is--mission-heading {
  color: var(--color--text);
  -webkit-text-stroke-color: var(--color--text);
  margin-bottom: 1.4em;
  font-size: 1.5em;
  line-height: 1.4;
}

.c-sermon {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  color: var(--white\<deleted\|variable-79f21d30\>);
  border-radius: .6em;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  min-height: 70vw;
  padding: 4em;
  display: flex;
  position: relative;
  overflow: hidden;
}

.c-sermon_bg {
  z-index: -1;
  column-count: 4;
  column-rule-style: none;
  column-rule-width: 0px;
  border-radius: .6em;
  column-gap: 1em;
  position: absolute;
  inset: 0%;
}

.c-sermon_bg.startseite {
  background-color: var(--trans\<deleted\|variable-cf07aca5-14d5-c180-aa9b-e6c01f036bf6\>);
  column-count: 3;
}

.c-sermon_tag {
  background-color: #ffffff1c;
  border-radius: 100vw;
  margin-bottom: -15px;
  margin-left: -50px;
  padding: .6em 1.4em;
  display: none;
}

.c-sermon_title {
  text-align: center;
  text-transform: none;
  margin-top: .6em;
  margin-bottom: .4em;
  font-size: 2.5em;
}

.is--sermon-tag {
  color: var(--light-grey);
  font-size: .9em;
}

.c-homepage_link {
  background-color: var(--black\<deleted\|variable-dec8db8b\>);
  border-radius: .6em;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.c-form_success {
  background-color: var(--light-grey);
  color: var(--black\<deleted\|variable-dec8db8b\>);
  text-align: center;
  border-radius: .4em;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em 1.4em;
}

.c-social_link {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1.4em;
}

.c-nav_menu-scroll {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-flow: row;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
}

.c-overflow {
  width: 100%;
  max-width: 100%;
  padding-top: 10em;
  position: relative;
  overflow: hidden;
}

.c-overflow.startseite {
  padding-top: 0;
}

.c-content {
  width: 100%;
  min-width: 50%;
  max-width: 100%;
}

.c-content.is--flip {
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.c-media {
  width: 100%;
  min-width: 50%;
  max-width: 100%;
  position: relative;
}

.c-contain {
  justify-content: center;
  align-items: center;
  display: flex;
}

.c-contain.is--flipped {
  flex-direction: row-reverse;
}

.c-content_contain {
  width: 90%;
}

.c-content_contain.is--full-width-content {
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.is--404 {
  background-color: var(--black\<deleted\|variable-dec8db8b\>);
  color: var(--white\<deleted\|variable-79f21d30\>);
}

.is--404-heading {
  margin-bottom: 3em;
}

.c-image2 {
  z-index: 1;
  border: 4px solid var(--brand);
  background-color: var(--black\<deleted\|variable-dec8db8b\>);
  object-fit: cover;
  border-radius: 10px;
  width: 50vw;
  max-width: none;
  height: 24em;
  margin-left: -10vw;
  position: relative;
}

.is-1tm {
  color: var(--color--text);
  margin-top: 1em;
}

.is--title {
  margin-top: .4em;
  font-weight: 500;
}

.c-staff_card {
  background-color: var(--white\<deleted\|variable-79f21d30\>);
  border-radius: .6em;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  height: 100%;
  display: flex;
}

.is--dark {
  background-color: var(--color--background);
  color: var(--white\<deleted\|variable-79f21d30\>);
}

.brand-color {
  text-align: center;
}

.c-filter {
  background-color: var(--medium-grey\<deleted\|variable-4cd8fc26\>);
  border-radius: .2em;
  width: 100%;
  margin-bottom: 2em;
  position: relative;
}

.c-switch_switch {
  border-radius: 100vw;
  justify-content: flex-end;
  width: 3em;
  min-width: 3em;
  margin-left: 1em;
}

.c-media_button-flex {
  text-align: right;
  justify-content: center;
  align-items: center;
  display: flex;
}

.c-popup_bg {
  z-index: 1;
  background-color: #0f0e17f0;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
}

.c-popup_x {
  margin-top: 1.2em;
  margin-right: 1.2em;
  position: absolute;
  inset: 0% 0% auto auto;
}

.c-event_link {
  background-color: var(--dark-grey);
  color: var(--white\<deleted\|variable-79f21d30\>);
  border-radius: .6em;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  height: 100%;
  display: flex;
}

.is--white {
  color: var(--white\<deleted\|variable-79f21d30\>);
  cursor: pointer;
}

.is--contact_p {
  color: var(--color--text);
  margin-top: .6em;
  margin-bottom: 1em;
}

.c-contact {
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.c-contact_left {
  width: 40vw;
  padding-right: 5em;
}

.c-contact_right {
  width: 40vw;
}

.c-contact_img {
  box-sizing: border-box;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  aspect-ratio: auto;
  border: 2px solid var(--brand);
  vertical-align: baseline;
  object-fit: cover;
  border-radius: 10px;
  flex-flow: wrap;
  justify-content: flex-end;
  align-items: stretch;
  height: 600px;
  margin-top: 2em;
  padding-left: 0;
  display: block;
}

.c-contact_img.instagam {
  float: right;
  clear: none;
  width: 150px;
  height: 100px;
  margin-top: 1em;
  margin-right: 6.3em;
  padding-left: 0;
  padding-right: 0;
  position: static;
}

.c-contact_img.instagam.rand {
  border-style: none;
  border-width: 0;
  border-radius: 0;
}

.c-contact_stats {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.c-contact_info {
  justify-content: flex-start;
  align-items: center;
  width: 48%;
  margin-bottom: 1em;
  display: flex;
}

.c-contact_icon {
  width: 1em;
  margin-right: .8em;
}

.c-contact_text {
  color: var(--color--text);
  text-align: left;
  white-space: pre;
  font-size: .8em;
  font-weight: 400;
}

.c-contact_form {
  margin-bottom: 0;
  padding-top: 1em;
  display: block;
}

.c-contact_form-field {
  border: 3px solid var(--brand);
  background-color: var(--color--background);
  color: var(--color--text);
  -webkit-text-stroke-color: white;
  border-radius: 10px;
  height: 3.9em;
  margin-bottom: .6em;
  padding: 1.1em 1.9em;
}

.c-contact_form-field:focus {
  color: var(--black\<deleted\|variable-dec8db8b\>);
  background-color: #e9ecf1;
}

.c-contact_form-field::placeholder {
  color: var(--color--text);
}

.c-contact_form-field.is--message {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: auto;
  min-height: 6.5em;
  margin-bottom: 2em;
}

.c-sermon_link {
  color: var(--white\<deleted\|variable-79f21d30\>);
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  height: 100%;
  display: flex;
}

.c-hero-2 {
  color: #fff;
  background-color: #0f0e17;
  position: relative;
}

.text-span {
  color: var(--brand);
}

.image-6 {
  border: 2px solid var(--brand);
  vertical-align: baseline;
  border-radius: 10px;
  margin-bottom: 2rem;
  display: block;
}

.image-7, .image-8 {
  border: 2px solid var(--brand);
  border-radius: 10px;
  margin-bottom: 2rem;
}

.text-span-3, .text-span-4 {
  color: var(--brand);
}

.a-caption {
  color: var(--color--text);
  letter-spacing: -.01em;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.a-icon-regular {
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  transition: color .2s;
  display: flex;
}

.a-margin-bottom-12 {
  margin-bottom: 12px;
}

.a-pricing-footnote {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 430px;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.a-paragraph-small {
  color: var(--color--text);
  text-align: left;
  letter-spacing: -.02em;
  margin-bottom: 0;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.8;
}

.a-prcing-feature-wrap {
  grid-column-gap: 16px;
  align-items: center;
  display: flex;
}

.a-pricing-feature {
  grid-column-gap: 0px;
  grid-row-gap: 16px;
  flex-direction: column;
  margin-top: 32px;
  display: flex;
}

.a-button-secondary-square {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  color: var(--alley-component-library--blue--900\<deleted\|variable-a6ac649b\>);
  text-align: center;
  letter-spacing: -.02em;
  background-color: #fff;
  border-radius: 8px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 48px;
  min-height: 48px;
  padding: 12px 32px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  transition: all .5s cubic-bezier(.6, .6, 0, 1);
  display: none;
}

.a-button-secondary-square:hover {
  background-color: var(--alley-component-library--blue--100\<deleted\|variable-6b28a3b0\>);
}

.a-button-secondary-square:active {
  background-color: #d8d7df;
}

.a-h3-heading {
  color: var(--color--text);
  letter-spacing: -.02em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.5em;
  line-height: 1.2;
}

.a-h3-heading.a-weight-bold {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.3;
}

.a-margin-bottom-16 {
  margin-bottom: 16px;
}

.a-subheading-large {
  color: var(--brand);
  -webkit-text-stroke-color: var(--brand);
  text-transform: none;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.3em;
  font-weight: 700;
  line-height: 1.8;
}

.a-margin-bottom-08 {
  margin-bottom: 8px;
}

.a-pricing-card {
  border: 2px solid var(--brand);
  background-color: var(--color--tag);
  text-align: left;
  border-radius: 10px;
  flex-direction: column;
  max-width: 650px;
  margin-bottom: 1em;
  padding: 40px 32px 32px;
  font-weight: 400;
  transition: transform .25s, box-shadow .25s, color .25s;
  display: flex;
}

.a-pricing-card:hover {
  transform: translate(0, .5em);
  box-shadow: 0 14px 20px #8c94a533;
}

.a-pricing-grid {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  align-items: stretch;
  display: grid;
}

.a-paragraph-regular {
  letter-spacing: -.02em;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.8;
}

.a-margin-bottom-24 {
  margin-bottom: 24px;
}

.a-title-wrap-center {
  text-align: center;
  flex-direction: column;
  align-items: center;
  max-width: 510px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.a-margin-bottom-64 {
  margin-bottom: 64px;
}

.a-container-regular {
  text-align: left;
  width: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.a-section-regular {
  text-align: left;
  padding: 92px 5%;
  position: relative;
}

.text-span-5 {
  color: var(--brand);
}

.a-content-caption-wrapper {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  text-align: center;
  flex-direction: column;
  align-items: center;
  max-width: 450px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.a-subheading-regular {
  color: var(--color--text);
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.8;
}

.a-content-card-top {
  color: var(--alley-component-library--neutral--black\<deleted\|variable-32d8176f\>);
}

.a-content-card {
  grid-row-gap: 16px;
  border: 2px solid var(--brand);
  background-color: var(--color--tag);
  border-radius: 10px;
  flex-direction: column;
  justify-content: space-between;
  min-height: 440px;
  padding: 24px;
  transition: transform .25s, box-shadow .25s, color .25s;
  display: flex;
}

.a-content-card:hover {
  transform: translate(0, .5em);
  box-shadow: 0 14px 20px #8c94a533;
}

.a-content-grid-wrapper {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template: ". . ." 1fr
                 ". Area Area1"
                 / 1fr 1fr 1fr 1fr;
  padding-left: 0;
}

.a-h3-heading-2 {
  color: var(--color--text);
  letter-spacing: -.02em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2em;
  line-height: 1.2;
}

.a-detail-regular {
  letter-spacing: .08em;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.8;
  display: none;
}

.a-margin-bottom-65 {
  margin-bottom: 16px;
}

.a-content-title-wrapper {
  text-align: center;
  max-width: 510px;
  margin-bottom: 64px;
  margin-left: auto;
  margin-right: auto;
}

.text-block-8 {
  color: var(--brand);
  text-align: center;
  font-size: 1.3vw;
  font-weight: 700;
}

.image-10 {
  border: 2px solid var(--brand);
  border-radius: 10px;
}

.image-11 {
  border: 2px solid var(--brand);
  border-radius: 10px;
  margin-bottom: 2rem;
}

.image-12 {
  border: 2px solid var(--brand);
  border-radius: 10px;
  max-width: 100%;
}

.code-embed-2 {
  color: var(--color--text);
  font-size: 1vw;
}

.uui-text-size-small-2 {
  color: var(--untitled-ui--gray600\<deleted\|variable-10a0cd12\>);
  letter-spacing: normal;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: .875rem;
  line-height: 1.5;
}

.uui-text-size-small-2.text-color-gray500 {
  color: var(--color--text);
}

.uui-footer05_legal-list-wrapper {
  grid-column-gap: 1.5rem;
  display: flex;
}

.uui-footer05_bottom-wrapper {
  border-top: 1px solid var(--untitled-ui--gray200\<deleted\|variable-bad2ea62\>);
  justify-content: space-between;
  align-items: center;
  margin-top: 4rem;
  padding-top: 2rem;
  display: flex;
}

.uui-footer05_link {
  grid-column-gap: .5rem;
  color: var(--untitled-ui--gray600\<deleted\|variable-10a0cd12\>);
  flex-wrap: nowrap;
  align-items: center;
  padding-top: .5rem;
  padding-bottom: .5rem;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  transition: all .3s;
  display: flex;
}

.uui-footer05_link:hover {
  color: var(--untitled-ui--gray700\<deleted\|variable-d4f37b50\>);
}

.uui-footer05_link-list-heading {
  color: var(--brand);
  text-align: left;
  letter-spacing: normal;
  text-transform: none;
  margin-bottom: 1rem;
  font-family: DM Sans, sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
}

.uui-footer05_link-list {
  flex-direction: column;
  grid-template-rows: auto;
  grid-template-columns: 100%;
  grid-auto-columns: 100%;
  place-items: flex-start start;
  display: flex;
}

.uui-footer05_top-wrapper {
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 2fr 1.25fr 1.25fr 1fr 1fr 1fr;
  grid-auto-flow: row;
  justify-content: stretch;
  place-items: start;
}

.uui-padding-vertical-xlarge-2 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.uui-container-large-2 {
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.uui-page-padding-2 {
  padding-left: 2rem;
  padding-right: 2rem;
  font-family: DM Sans, sans-serif;
}

.uui-footer05_component {
  background-color: var(--color--tag);
  color: #160042;
}

.text-block-10 {
  color: var(--color--text);
}

.text-span-10, .text-span-11 {
  color: var(--brand);
}

.a-testimonial-slide {
  border-radius: 10px;
  margin-right: 40px;
}

.f-container-regular {
  width: 100%;
  max-width: 1140px;
  min-height: 750px;
  max-height: 1300px;
  margin-top: -20vw;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  position: relative;
}

.f-section-regular {
  margin-top: 25vw;
  padding: 0 5% 150px;
  position: relative;
}

.f-icon-regular {
  color: var(--color--text);
  text-align: left;
  -webkit-text-stroke-color: #906fd3;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  transition: color .2s;
  display: flex;
}

.f-testimonial-star-wrapper {
  box-sizing: border-box;
  clear: none;
  grid-column-gap: 4px;
  grid-row-gap: 0px;
  aspect-ratio: auto;
  color: #0f0e17;
  text-align: left;
  vertical-align: baseline;
  justify-content: center;
  align-items: stretch;
  margin-top: 10px;
  margin-bottom: 16px;
  display: flex;
}

.heading {
  color: var(--color--text);
  text-align: center;
  -webkit-text-stroke-color: var(--light-grey);
  text-transform: uppercase;
  margin-top: -1.5em;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 2.5em;
}

.heading.galarie {
  margin-top: 0;
}

.text-span-12 {
  color: var(--color--text);
  text-align: left;
  -webkit-text-stroke-color: var(--white\<deleted\|variable-79f21d30\>);
  flex-flow: row;
}

.utility-page-wrap {
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  display: flex;
}

.utility-page-content {
  text-align: center;
  flex-direction: column;
  width: 260px;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.combine-chevron-right_icon {
  color: var(--brand);
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  display: flex;
}

.combine-button-content {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  justify-content: center;
  align-items: center;
  display: flex;
}

.combine-button-icon {
  color: var(--combine-library--grey-800\<deleted\|variable-c0ad9ad1\>);
  align-items: center;
  padding-top: .5rem;
  padding-bottom: .5rem;
  font-family: Open Sans, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-decoration: none;
}

.combine-button-icon:hover {
  color: var(--combine-library--primary-600\<deleted\|variable-d08fbb46\>);
}

.combine-text-size-regular {
  color: var(--color--text);
  text-align: center;
  margin-bottom: 0;
  font-family: DM Sans, sans-serif;
  font-size: .8vw;
  font-weight: 500;
  line-height: 1.5;
}

.combine-heading-style-h5 {
  color: var(--brand);
  margin-top: 0;
  margin-bottom: 0;
  font-family: DM Sans, sans-serif;
  font-size: 2rem;
  font-weight: 600;
  line-height: 2;
}

.combine-feature5_item {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  border: 2px solid var(--brand);
  background-color: var(--color--tag);
  text-align: center;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  padding: 2.5rem 2rem;
  text-decoration: none;
  transition: transform .25s, box-shadow .25s, color .25s;
  display: flex;
}

.combine-feature5_item:hover {
  transform: translate(0, -.5rem);
  box-shadow: 0 14px 20px #8c94a533;
}

.combine-feature5_component {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.combine-container-large {
  width: 100%;
  max-width: 100rem;
  margin-left: auto;
  margin-right: auto;
  font-weight: 400;
}

.combine-space-large {
  height: 4rem;
}

.combine-space-medium {
  width: 100%;
  height: 1.5rem;
}

.combine-heading-style-h2 {
  color: var(--color--text);
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.5em;
}

.combine-text-align-center {
  text-align: center;
}

.combine-container-small {
  width: 100%;
  max-width: 48rem;
  margin-left: auto;
  margin-right: auto;
}

.combine-padding-section-medium {
  padding-top: 0;
  padding-bottom: 6rem;
}

.combine-padding-global {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.text-block-21 {
  color: var(--color--text);
  text-transform: none;
  font-family: DM Sans, sans-serif;
  font-weight: 700;
}

.text-block-22, .text-block-23, .text-block-24 {
  color: var(--color--text);
  font-family: DM Sans, sans-serif;
  font-weight: 700;
}

.c-slider-btn {
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
}

.c-slide-btn-block {
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  display: flex;
  position: relative;
}

.sub-slider-slide {
  perspective: 1000px;
  width: 350px;
  padding: 1vh 1vw;
  transform: perspective(1000px);
}

.f-h3-heading-2 {
  color: var(--brand);
  letter-spacing: -.02em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.5em;
  line-height: 1.25;
}

.f-heading-detail-small-2 {
  color: var(--color--text);
  letter-spacing: .08em;
  text-transform: uppercase;
  font-size: .7em;
  font-weight: 700;
  line-height: 24px;
}

.f-title-wrapper-center-2 {
  z-index: 5;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 580px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1vw;
  padding-bottom: 1vw;
  display: flex;
  position: relative;
}

.slider-2 {
  display: none;
}

.body {
  background-color: var(--color--background);
}

.div-block {
  height: 200px;
}

.f-paragraph-large {
  color: var(--color--text);
  letter-spacing: -.02em;
  margin-bottom: 0;
  font-size: 20px;
  line-height: 32px;
}

.f-h1-heading {
  color: var(--color--text);
  letter-spacing: -.04em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 64px;
  line-height: 1.2;
}

.f-header-wrapper-left {
  max-width: 620px;
}

.f-container-regular-2 {
  width: 100%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.f-section-large {
  padding: 92px 5%;
  position: relative;
}

.text-span-15 {
  color: var(--off-white-dark\<deleted\|variable-b85e1530\>);
  font-size: 1px;
}

.text-span-19, .text-span-20, .text-span-21 {
  font-size: 20px;
}

.c-sermon-2 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  color: #fff;
  background-image: linear-gradient(0deg, #0f0e17c4, #0f0e17b0 28%, #0f0e1700 56%);
  border-radius: .6em;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  min-height: 70vw;
  padding: 4em;
  display: flex;
  position: relative;
  overflow: hidden;
}

.c-sermon-2.startseite, .slider-3 {
  display: none;
}

.is--sermon-tag-2 {
  color: #f7f9fc;
  font-size: .9em;
}

.heading-2 {
  color: var(--color--text);
}

.text-span-23, .text-span-24 {
  color: var(--brand);
}

.text-span-25 {
  color: var(--color--text);
  -webkit-text-stroke-color: var(--dark--text);
}

.body-2 {
  background-color: var(--color--background);
}

.bold-text-5 {
  color: var(--color--text);
  line-height: 24px;
}

.dm {
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  display: flex;
  position: relative;
}

.toggle_wrap {
  background-color: var(--color--text);
  color: #0f0e17;
  -webkit-text-stroke-color: #0f0e17;
  border-radius: 100vw;
  width: 4rem;
  height: 2.5rem;
  padding: .2rem;
}

.toggle_inner {
  margin-left: var(--color--toggle-offset);
  background-color: var(--color--background);
  border-radius: 100vw;
  width: 2.3rem;
  height: 100%;
}

.link {
  color: var(--color--text);
}

.heading-3 {
  color: var(--color--text);
  font-size: 1.6em;
}

.bold-text-6 {
  color: var(--color--text);
  font-size: 16px;
}

.body-3 {
  background-color: var(--color--background);
}

.bold-text-7, .heading-4, .heading-5 {
  color: var(--color--text);
}

.text-span-27 {
  color: var(--brand);
}

.link-2 {
  color: #333;
  text-align: left;
  letter-spacing: 4px;
  justify-content: flex-end;
  align-items: flex-start;
  width: 233px;
  font-size: 20px;
  font-weight: 600;
  line-height: 50px;
  text-decoration: none;
  transition: color .3s;
  display: flex;
  position: relative;
  overflow: hidden;
}

.link-2:hover {
  color: #f65a68;
}

.line-l2 {
  background-color: var(--brand);
  width: 50px;
  height: 2px;
  position: absolute;
  inset: 50% auto auto 0%;
}

.text-l2 {
  color: var(--color--text);
  text-align: left;
  padding-right: 30px;
}

.text-l2:hover {
  color: var(--brand);
}

.text-l2.instagram {
  padding-right: 0;
}

.right-arrow-t6 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  display: flex;
}

.user-picture-wrapper-t6 {
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  display: flex;
}

.slider-t6 {
  background-color: #0000;
}

.slide-nav-t6 {
  margin-bottom: 28px;
  display: none;
}

.arrow-wrapper-t6 {
  background-color: var(--brand);
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  transition: transform .5s;
  display: flex;
}

.arrow-wrapper-t6:hover {
  transform: scale(1.05);
  box-shadow: 1px 1px 2px #ddd;
}

.user-name-t6 {
  text-align: center;
  margin-top: 30px;
  font-size: 18px;
  font-weight: 700;
}

.testimonials-t6 {
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
}

.quote-t6 {
  color: var(--color--text);
  text-align: center;
  max-width: 700px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
  font-weight: 500;
  line-height: 23px;
}

.left-arrow-t6 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  display: flex;
}

.testimonials-wrapper {
  border: 2px solid var(--brand);
  background-color: var(--color--tag);
  border-radius: 10px;
  align-items: center;
  width: 90%;
  max-width: 1400px;
  margin: 20px auto;
  padding-top: 40px;
  padding-bottom: 40px;
  transition: transform .25s, box-shadow .25s, color .25s;
}

.testimonials-wrapper:hover {
  transform: translate(0, .5rem);
  box-shadow: 0 14px 20px #8c94a533;
}

.user-picture-t6 {
  border-radius: 100px;
  padding: 3px;
}

.company-name-t6 {
  color: var(--color--text);
  text-align: center;
  margin-top: 11px;
  font-size: 15px;
  font-style: italic;
}

.user-picture-subwrapper-t6 {
  border-radius: 100px;
}

.testimonials-wrapper-t6 {
  width: 100%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.link-3 {
  color: var(--color--text);
}

.splitter_component {
  cursor: pointer;
  width: 70vw;
  height: 70vh;
  display: flex;
  position: relative;
  overflow: hidden;
}

.splitter_component.is-radius {
  border-radius: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  width: 70vw;
  margin-left: 2em;
  padding-right: 0;
}

.splitter_handle-circle {
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 2rem;
  width: 2.6875rem;
  height: 2.6875rem;
}

.splitter_handle-circle.is-2 {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  background-color: #0000;
  border-style: none;
  justify-content: center;
  align-items: center;
  width: 3.75rem;
  height: 3.75rem;
  display: flex;
}

.text-span-29 {
  color: var(--brand);
}

.preloader-bar-2 {
  background-color: var(--brand);
  width: 50%;
  height: 100%;
}

.c-preloader-title {
  margin-bottom: .5em;
  padding-left: .5em;
  padding-right: .5em;
  overflow: hidden;
}

.preloader-bar-1 {
  background-color: var(--dark-grey);
  border-radius: 1000px;
  justify-content: center;
  width: 60%;
  height: 100%;
  display: flex;
}

._w-preloader-content {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.c-preloader-content {
  z-index: 5;
  position: absolute;
}

.preloader-text {
  color: var(--color--text);
  text-align: center;
  letter-spacing: 6px;
  text-transform: uppercase;
}

.c-preloader {
  z-index: 9999;
  justify-content: center;
  align-items: center;
  display: none;
  position: fixed;
  inset: 0%;
  overflow: hidden;
}

._w-preloader {
  background-color: #13131300;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}

.c-preloader-bar {
  background-color: var(--light-grey);
  border-radius: 1000px;
  justify-content: center;
  width: 15em;
  height: .25em;
  display: flex;
  position: relative;
  overflow: hidden;
}

.c-preloader-curtain {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}

.preloader-curtain {
  background-color: #131313;
  width: 50%;
  height: 100%;
  position: relative;
}

.preloader-curtain.right._2 {
  background-color: var(--color--background);
  position: absolute;
  inset: 0% 0% 0% auto;
}

.preloader-curtain.left._1 {
  background-color: var(--color--background);
}

.preloader-curtain.left._2 {
  background-color: var(--color--background);
  position: absolute;
  inset: 0% auto 0% 0%;
}

.arrow-image {
  width: 9.14px;
  height: 18.28px;
}

.line-wrapper {
  background-color: #fff;
  width: 10px;
  height: 100%;
}

.text-span-31 {
  color: var(--brand);
}

.splitter_before-2 {
  width: 100%;
  position: absolute;
  inset: 0%;
}

.splitter_image-2 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}

.splitter_image-2.is-after {
  width: 70vw;
  max-width: none;
  position: absolute;
  inset: 0% 0% auto auto;
}

.splitter_handle-wrapper-3 {
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}

.example_component {
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 70vw;
  display: flex;
}

.padding-section-example {
  padding-bottom: 7.5rem;
}

.padding-0 {
  padding: 0;
}

.container-large {
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.spliter_after-4 {
  z-index: 2;
  width: 50%;
  height: 100%;
  position: absolute;
  inset: 0% 0% auto auto;
  overflow: hidden;
}

.splitter_handle-component-5 {
  z-index: 2;
  background-color: #fff;
  width: 2px;
  height: 100%;
  position: absolute;
  left: 50%;
}

.section_example {
  justify-content: center;
  align-items: center;
  margin-right: 10%;
  padding-top: 1em;
  padding-right: 0;
  display: flex;
}

@media screen and (min-width: 1920px) {
  .c-section {
    padding-top: 5em;
  }

  .c-section.galarie {
    padding-top: 1em;
  }

  .c-hero_h1 {
    font-size: 3em;
  }

  .is--display {
    font-size: 4em;
  }

  .is--mission-heading {
    font-size: 1.4em;
  }

  .c-sermon {
    min-height: 50vw;
  }

  .c-sermon.galariestart {
    min-height: 35vw;
  }

  .c-sermon_bg.startseite {
    column-count: 3;
  }

  .c-sermon_title {
    color: var(--color--text);
    font-size: 2.5em;
  }

  .image-7 {
    max-height: 50%;
  }

  .a-pricing-card {
    max-width: 500px;
  }

  .a-title-wrap-center {
    max-width: 700px;
    height: 200px;
  }

  .a-margin-bottom-64 {
    font-size: 1.25vw;
  }

  .f-section-regular {
    padding-top: 0;
  }

  .heading {
    margin-top: 3em;
    margin-left: 3em;
    margin-right: 3em;
    padding-top: 0;
    padding-bottom: 0;
  }

  .heading.galarie {
    text-align: left;
    width: 1350px;
  }

  .heading.galarieheading {
    margin-top: 0;
  }

  .f-title-wrapper-center-2 {
    padding-top: 0;
    padding-bottom: 2vw;
  }

  .splitter_component.is-radius {
    margin-left: 2em;
  }

  .padding-0 {
    padding-left: 0;
  }

  .container-large {
    margin-right: 256px;
  }

  .section_example {
    justify-content: center;
    align-items: center;
    margin-right: 15%;
  }
}

@media screen and (max-width: 991px) {
  body {
    font-size: 16px;
  }

  h1 {
    font-size: 3.3em;
  }

  .c-nav {
    padding: 1em 2.1em;
  }

  .c-nav_menu {
    z-index: 1;
    background-color: var(--black\<deleted\|variable-dec8db8b\>);
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 0;
    display: none;
    position: absolute;
    inset: 0% 0% auto;
    overflow: hidden;
  }

  .c-nav_menu-links {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    display: block;
  }

  .c-nav_link {
    border-bottom: .1em solid var(--dark-grey);
    width: 100%;
    padding-top: .9em;
    padding-bottom: .9em;
    font-size: 20px;
  }

  .c-nav_link.is--dropdown {
    border-bottom-width: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
  }

  .c-nav_link-text {
    line-height: 1.5;
  }

  .c-nav_hamburger {
    z-index: 2;
    color: #0f0e17;
    -webkit-text-stroke-color: #0f0e17;
    display: block;
    position: relative;
  }

  .c-section {
    padding: 2em 5vw;
  }

  .c-section.is--footer-spacer {
    height: 2em;
  }

  .c-section.is--mission {
    padding-top: 2em;
  }

  .c-section.is--media {
    width: 100vw;
    min-width: 100vw;
    max-width: 100vw;
    overflow: hidden;
  }

  .c-section.is--hero {
    background-image: linear-gradient(#0f0e1766, #0f0e1766), linear-gradient(to top, #0f0e17, #0f0e17e3 21%, #0f0e1700 60%);
    flex-direction: column;
    justify-content: center;
    padding-top: 8.4em;
    padding-bottom: 3em;
  }

  .c-section.galarie {
    max-height: 150vw;
  }

  .c-button {
    font-size: 3vw;
  }

  .c-button:hover {
    background-image: linear-gradient(#0000, #0000);
  }

  .c-button.is--white.is--hero-button2, .c-button.is--hero-button1, .c-button.is--white.is--hero-button2 {
    margin-bottom: 1em;
    margin-left: .5em;
    margin-right: .5em;
  }

  .c-hero_contain {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .c-hero_h1 {
    text-align: left;
    font-size: 4em;
  }

  .c-hero_h1-contain {
    margin-bottom: 1em;
  }

  .c-hero_message {
    width: 100%;
    margin-top: 3em;
    margin-bottom: 0;
    margin-right: 0;
    position: relative;
  }

  .is--display {
    font-size: 5em;
  }

  .c-large-header {
    height: 6em;
    margin-left: -5vw;
  }

  .c-mission_photo {
    width: 35vw;
    min-width: 35vw;
    max-width: 35vw;
    height: 35vw;
  }

  .c-mission_content {
    width: 52vw;
    padding-left: 0;
  }

  .c-sermon {
    min-height: 80vw;
    padding: 1.6em;
    display: none;
  }

  .c-nav_hamburger_icon {
    width: 2.5em;
  }

  .c-nav_menu-scroll {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    padding: 5.9em 3.8em 8.2em;
    overflow: scroll;
  }

  .c-overflow {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
  }

  .c-content_contain.is--full-width-content {
    width: 80%;
  }

  .c-image2 {
    height: 40vw;
    margin-left: -5vw;
  }

  .c-switch_switch {
    width: 4em;
    min-width: 4em;
  }

  .c-contact_left {
    width: 45vw;
    padding-right: 2.2em;
  }

  .c-contact_right {
    width: 45vw;
  }

  .c-contact_img {
    width: 100%;
    margin-top: 1.3em;
  }

  .c-contact_stats {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 20px;
  }

  .a-paragraph-small {
    font-size: 12px;
  }

  .a-h3-heading.a-weight-bold {
    font-size: 20px;
  }

  .a-subheading-large {
    font-size: 2em;
  }

  .a-pricing-grid {
    grid-template-columns: 1fr;
  }

  .a-subheading-regular {
    font-size: 14px;
    line-height: 1.35;
  }

  .a-content-card {
    min-height: 320px;
  }

  .a-content-grid-wrapper {
    flex-flow: column;
    grid-template-columns: 1fr 1fr;
    display: flex;
  }

  .text-block-8 {
    font-size: 3.5vw;
  }

  .uui-footer05_bottom-wrapper {
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .uui-footer05_top-wrapper {
    grid-row-gap: 3rem;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .uui-padding-vertical-xlarge-2 {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
  }

  .heading.galarieheading {
    margin-top: 1em;
  }

  .combine-button-icon {
    white-space: nowrap;
  }

  .combine-text-size-regular {
    font-size: 1.5vw;
  }

  .combine-feature5_item {
    color: var(--combine-library--grey-800\<deleted\|variable-c0ad9ad1\>);
    text-decoration: none;
  }

  .combine-feature5_component {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
  }

  .combine-heading-style-h2 {
    font-size: 2.5rem;
  }

  .combine-padding-global {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .f-heading-detail-small-2 {
    font-size: 1em;
  }

  .f-title-wrapper-center-2 {
    padding-top: 10vw;
  }

  .slider-2 {
    width: 100%;
    height: 100%;
    display: block;
  }

  .c-sermon-2 {
    min-height: 80vw;
    padding: 1.6em;
  }

  .c-sermon-2.startseite {
    background-image: none;
    display: block;
  }

  .slider-3.startseite {
    width: 100%;
    height: 100%;
    display: block;
  }

  .bold-text-5 {
    font-size: 1.5vw;
  }

  .toggle_wrap {
    display: none;
  }

  .right-arrow-t6 {
    inset: auto 0% 0% auto;
  }

  .left-arrow-t6 {
    inset: auto auto 0% 0%;
  }

  .testimonials-wrapper {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .splitter_component, .splitter_component.is-radius, .splitter_component.is-radius, .splitter_component.is-radius {
    width: 85vw;
  }

  .splitter_before-2 {
    width: 80vw;
  }

  .splitter_image-2.is-after, .example_component {
    width: 85vw;
  }

  .mask-2 {
    border: 4px solid var(--brand);
    border-radius: 10px;
  }

  .image-17, .image-18, .image-19, .slide, .image-20, .image-21, .width {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .c-nav {
    padding-bottom: 0;
  }

  .c-section.is--header {
    padding-top: 9em;
  }

  .c-button.is--share {
    margin-top: 2em;
  }

  .c-hero_h1 {
    text-align: left;
    font-size: 8vw;
  }

  .is--display {
    font-size: 4em;
  }

  .c-large-header {
    height: 5em;
  }

  .is--display-line {
    width: 8em;
    min-width: 8em;
    margin-left: 2em;
    margin-right: 2em;
  }

  .c-mission {
    flex-direction: column-reverse;
    display: flex;
  }

  .c-mission_photo {
    width: 100%;
    min-width: 100%;
    margin-bottom: 3em;
  }

  .c-mission_content {
    width: 100%;
  }

  .c-sermon {
    min-height: 85vw;
    display: none;
  }

  .c-sermon_bg.startseite {
    display: none;
  }

  .c-social_link {
    padding-left: .8em;
    padding-right: .8em;
  }

  .c-nav_hamburger_icon {
    width: 2.5em;
  }

  .c-nav_menu-scroll {
    padding-left: 2em;
    padding-right: 2em;
  }

  .c-media {
    margin-bottom: 2em;
  }

  .c-contain {
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
    display: flex;
  }

  .c-contain.is--flipped {
    flex-direction: column-reverse;
    justify-content: flex-end;
  }

  .c-content_contain {
    width: 100%;
  }

  .c-content_contain.is--full-width-content {
    width: 90%;
  }

  .c-image2 {
    width: 95vw;
    height: 60vw;
  }

  .c-contact {
    display: block;
  }

  .c-contact_left {
    width: 100%;
    padding-right: 0;
  }

  .c-contact_right {
    width: 100%;
    margin-top: 3em;
  }

  .c-contact_img {
    width: 95vw;
    height: 60vw;
  }

  .a-h3-heading {
    font-size: 40px;
  }

  .a-section-regular {
    padding-top: 72px;
    padding-bottom: 72px;
  }

  .a-content-card {
    min-height: 260px;
  }

  .a-content-grid-wrapper {
    flex-flow: column;
    grid-template-rows: 1fr auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    display: flex;
  }

  .a-h3-heading-2 {
    font-size: 40px;
  }

  .uui-footer05_legal-list-wrapper {
    flex-direction: column-reverse;
  }

  .uui-footer05_bottom-wrapper {
    flex-direction: column-reverse;
    align-items: flex-start;
    margin-top: 3rem;
  }

  .uui-footer05_link:hover {
    color: var(--untitled-ui--gray500\<deleted\|variable-68f29e84\>);
  }

  .uui-footer05_top-wrapper {
    grid-row-gap: 2rem;
  }

  .uui-padding-vertical-xlarge-2 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .uui-page-padding-2 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .f-section-regular {
    padding-top: 72px;
    padding-bottom: 72px;
  }

  .combine-feature5_component {
    grid-template-columns: 1fr;
  }

  .combine-padding-global {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .c-slide-btn-block {
    width: 12vw;
    height: 12vw;
  }

  .f-h3-heading-2 {
    font-size: 40px;
  }

  .f-title-wrapper-center-2 {
    padding-top: 10vw;
  }

  .slider-2 {
    width: 100%;
    height: 100%;
    display: block;
  }

  .f-h1-heading {
    margin-top: 0;
    font-size: 48px;
  }

  .f-section-large {
    padding-top: 72px;
    padding-bottom: 72px;
  }

  .c-sermon-2 {
    min-height: 85vw;
  }

  .c-sermon-2.startseite {
    background-image: none;
    display: block;
  }

  .slider-3.startseite {
    border: 4px solid var(--brand);
    border-radius: 10px;
    width: 100%;
    height: 100%;
    display: block;
  }

  .toggle_wrap {
    display: none;
  }

  .slider-t6 {
    height: auto;
  }

  .testimonials-t6 {
    padding: 40px 10px;
  }

  .testimonials-wrapper {
    margin-left: auto;
    margin-right: auto;
  }

  .splitter_component {
    width: 90vw;
    height: 55vh;
  }

  .splitter_component.is-radius {
    width: 90vw;
    height: 35vh;
  }

  .splitter_before-2, .splitter_image-2.is-after {
    width: 90vw;
  }

  .example_component {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    width: 90vw;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 2.7em;
  }

  .c-nav {
    background-color: var(--color--nav);
    padding: .25em 6vw;
  }

  .c-nav_logo {
    width: 60px;
    height: 60px;
  }

  .c-nav_menu {
    background-color: var(--color--background);
    color: var(--color--text);
  }

  .c-nav_link, .c-nav_link.w--current, .c-nav_link-text {
    color: var(--color--text);
  }

  .c-nav_hamburger {
    display: block;
  }

  .c-section {
    min-height: 300px;
    display: block;
  }

  .c-section.is--footer-spacer {
    height: 1em;
    min-height: auto;
  }

  .c-section.is--media.kontakte {
    padding-top: 6em;
    padding-bottom: 3em;
  }

  .c-section.galarie {
    max-height: 150vw;
  }

  .c-button {
    font-size: 5vw;
  }

  .c-hero_h1 {
    text-align: left;
    font-size: 2em;
  }

  .is--display {
    font-size: 3em;
  }

  .c-large-header {
    height: 4em;
  }

  .c-large-header_contain {
    font-size: 4vw;
  }

  .is--display-line {
    width: 6em;
    min-width: 6em;
    height: .13em;
    margin-left: 1.5em;
    margin-right: 1.5em;
  }

  .c-mission_photo {
    border-width: 1px;
    height: 80vw;
  }

  .is--mission-heading {
    font-size: 1.3em;
  }

  .c-sermon {
    background-image: linear-gradient(#0f0e17bd, #0f0e17bd);
    min-height: 100vw;
    margin-bottom: -140px;
    padding: 1.5em;
  }

  .c-sermon_bg {
    column-count: 4;
    column-rule-style: none;
    column-rule-width: 0px;
    flex: 0 auto;
    display: none;
  }

  .c-sermon_bg.startseite {
    display: block;
  }

  .c-sermon_tag {
    display: none;
  }

  .c-sermon_buttons {
    width: 100%;
  }

  .c-sermon_title {
    margin-top: .4em;
    margin-bottom: .4em;
    font-size: 2em;
  }

  .c-nav_hamburger_icon {
    color: #0f0e17;
    width: 2.5em;
  }

  .c-nav_menu-scroll {
    padding-left: 6vw;
    padding-right: 6vw;
  }

  .c-overflow {
    width: 100%;
    max-width: 100%;
    padding-top: 0;
    overflow: hidden;
  }

  .c-image2 {
    width: 95vw;
  }

  .c-media_button-flex {
    text-align: left;
  }

  .c-popup_x {
    margin-top: .8em;
    margin-right: .8em;
  }

  .c-contact_img {
    width: 100%;
  }

  .c-contact_img.instagam {
    float: none;
    margin-right: 0;
  }

  .image-6, .image-7, .image-8 {
    border-width: 2px;
    border-radius: 10px;
  }

  .a-caption {
    font-size: 8px;
  }

  .a-paragraph-small, .a-h3-heading.a-weight-bold {
    font-size: 20px;
  }

  .a-subheading-large {
    font-size: 30px;
  }

  .a-subheading-regular {
    font-size: 15px;
  }

  .a-content-card {
    min-width: 100%;
  }

  .a-content-grid-wrapper {
    flex-flow: column;
    grid-auto-columns: 1fr;
    display: flex;
  }

  .text-block-8 {
    font-size: 22px;
  }

  .image-10, .image-11, .image-12 {
    border-width: 2px;
    border-radius: 10px;
  }

  .code-embed-2 {
    font-size: 3vw;
  }

  .uui-footer05_link, .uui-footer05_link-list-heading, .uui-footer05_link-list {
    text-align: left;
  }

  .uui-footer05_top-wrapper {
    grid-row-gap: 2rem;
    text-align: left;
    grid-template-rows: minmax(auto, auto);
    grid-template-columns: minmax(200px, 1fr);
    align-items: center;
  }

  .uui-padding-vertical-xlarge-2, .uui-container-large-2, .uui-page-padding-2, .uui-footer05_component {
    text-align: left;
  }

  .f-section-regular {
    margin-top: 50vw;
  }

  .f-section-regular.mobile {
    margin-top: 20vw;
  }

  .heading {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 2em;
  }

  .heading.galarie {
    display: block;
  }

  .combine-text-size-regular {
    font-size: 1em;
  }

  .combine-heading-style-h5 {
    font-size: 1.7rem;
    line-height: 2.5;
  }

  .combine-feature5_component {
    grid-template-rows: auto;
  }

  .combine-heading-style-h2 {
    font-size: 2rem;
  }

  .combine-padding-section-medium {
    margin-top: 0;
  }

  .combine-padding-global {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .c-slide-btn-block {
    width: 20vw;
    height: 20vw;
  }

  .f-h3-heading-2 {
    font-size: 2em;
  }

  .f-heading-detail-small-2 {
    font-size: 15px;
  }

  .f-title-wrapper-center-2 {
    padding-top: 0;
  }

  .slider-2 {
    border: 4px solid var(--brand);
    background-color: var(--transparent\<deleted\|variable-73f5b1f1-8d9d-c910-1516-f336e42b8e6b\>);
    border-radius: 10px;
    height: 100%;
    display: block;
  }

  .slide-nav-2 {
    font-size: 10px;
  }

  .icon {
    font-size: 20px;
  }

  .f-paragraph-large {
    font-size: 15px;
  }

  .f-h1-heading {
    font-size: 27px;
  }

  .bold-text-4 {
    font-size: 18px;
  }

  .c-sermon-2 {
    background-image: none;
    min-height: 100vw;
    margin-bottom: -140px;
    padding: 1.5em;
  }

  .c-sermon-2.startseite {
    -webkit-text-stroke-color: white;
    min-height: 100vw;
    margin-bottom: 0;
    display: block;
  }

  .slider-3 {
    border: 4px solid #86751d;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    display: block;
  }

  .slider-3.startseite {
    border-width: 3px;
  }

  .icon-2 {
    font-size: 20px;
  }

  .bold-text-5 {
    color: var(--color--text);
  }

  .toggle_wrap {
    display: none;
  }

  .heading-3 {
    text-align: center;
    margin-top: 5em;
    font-size: 1.4em;
  }

  .link-2 {
    clear: none;
    font-size: 15px;
    overflow: hidden;
  }

  .text-l2 {
    padding-right: 60px;
  }

  .text-l2.instagram {
    padding-bottom: 0;
    padding-right: 40px;
  }

  .slider-t6 {
    padding-bottom: 60px;
  }

  .arrow-wrapper-t6 {
    background-color: var(--color--button-background);
    box-shadow: none;
    border: 0 #0000;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    transition-property: none;
  }

  .arrow-wrapper-t6:hover {
    box-shadow: none;
    transform: none;
  }

  .testimonials-t6 {
    width: 100%;
  }

  .left-arrow-t6 {
    justify-content: center;
    align-items: center;
  }

  .testimonials-wrapper {
    width: 100%;
  }

  .splitter_component {
    width: 90vw;
    height: 35vh;
  }

  .splitter_component.is-radius {
    height: 65vh;
    margin-bottom: 2em;
    margin-left: 0;
  }

  .link-4 {
    color: var(--color--text);
  }

  .splitter_before-2, .splitter_image-2.is-after {
    width: 90vw;
  }

  .padding-section-example {
    padding-bottom: 0;
  }

  .splitter_handle-component-5 {
    width: 2px;
  }

  .section_example {
    justify-content: center;
    margin-left: 10%;
    padding-right: 0;
  }
}

#w-node-_75910fbd-a358-e5e9-0e47-ea12b3616f5b-65ad0579, #w-node-_051bdaf1-c01b-1616-f291-ae1b3934d8f2-65ad057f, #w-node-_051bdaf1-c01b-1616-f291-ae1b3934d913-65ad057f, #w-node-_051bdaf1-c01b-1616-f291-ae1b3934d934-65ad057f, #w-node-_0e0a3917-186a-f547-0926-0d68a36ce907-65ad057f, #w-node-_0e0a3917-186a-f547-0926-0d68a36ce8ff-65ad057f, #w-node-_0e0a3917-186a-f547-0926-0d68a36ce8f7-65ad057f, #w-node-_0e0a3917-186a-f547-0926-0d68a36ce8ef-65ad057f {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_2105f2c2-3992-98f8-a768-d8d494242c7e-65ad057f {
  grid-area: Area;
}

#w-node-_2b448f02-3808-fa0c-3e6c-5dcac6171ed0-65ad057f {
  grid-area: Area1;
}

@media screen and (max-width: 991px) {
  #w-node-_938d0612-9ef7-5774-b08f-7d897381a6b5-fff291f8 {
    order: -9999;
  }
}


